<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>PHP {{totalBill}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quick Toggle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button *ngFor="let key of objectKeys(appliances)" color="{{appliances[key].status ? 'primary' : 'light'}}" (click)="toggleAppliance(key)">
        <ion-icon slot="icon-only" name="{{appliances[key].icon}}" size="large"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button href="/home">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-tab-button>

  <ion-tab-button href="/appliances-list" selected=true>
    <ion-icon name="map"></ion-icon>
    <ion-label>Appliances</ion-label>
  </ion-tab-button>
  
  <ion-tab-button href="/rate-settings">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Rate</ion-label>
  </ion-tab-button>
</ion-tab-bar>
