<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-card-title>{{appliance.name}}</ion-card-title>
        <ion-toggle checked="{{appliance.status}}" slot="end" (ionChange)="toggleAppliance(applianceIndex)"></ion-toggle>
      </ion-item>
      <ion-card-subtitle>Here you can set the wattage of the appliance.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="false">
        <ion-icon name="alarm" slot="start"></ion-icon>
        <ion-label>{{timeUsedInHuman}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="fixed">
          Wattage(W)
        </ion-label>
        <ion-input type="number" required=true [(ngModel)]="appliance.wattage"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-button color="danger" (click)="defaultWattage(applianceIndex)">Default</ion-button>
        <ion-button color="light" (click)="resetWattage()">Reset</ion-button>
        <ion-button (click)="updateWattage()">Save</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>