<ion-header>
  <ion-toolbar>
    <ion-title>Add Appliance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label>Appliance Name</ion-label>
    <ion-input placeholder="Kitchen Light" [(ngModel)]="appliance.name" slot="end" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Type of Appliance</ion-label>
    <ion-select [(ngModel)]="appliance.type">
      <ion-select-option value="0">aircon</ion-select-option>
      <ion-select-option value="1">blender</ion-select-option>
      <ion-select-option value="2">bulb</ion-select-option>
      <ion-select-option value="3">clothes-iron</ion-select-option>
      <ion-select-option value="4">coffee-maker</ion-select-option>
      <ion-select-option value="5">dish-washer</ion-select-option>
      <ion-select-option value="6">dryer</ion-select-option>
      <ion-select-option value="7">electric-stove</ion-select-option>
      <ion-select-option value="8">fan</ion-select-option>
      <ion-select-option value="">hair-dryer</ion-select-option>
      <ion-select-option value="">hair-iron</ion-select-option>
      <ion-select-option value="">microwave</ion-select-option>
      <ion-select-option value="">others</ion-select-option>
      <ion-select-option value="">oven</ion-select-option>
      <ion-select-option value="">radiator</ion-select-option>
      <ion-select-option value="">refrigerator</ion-select-option>
      <ion-select-option value="">rice-cooker</ion-select-option>
      <ion-select-option value="">toaster</ion-select-option>
      <ion-select-option value="">tv</ion-select-option>
      <ion-select-option value="">vacuum</ion-select-option>
      <ion-select-option value="">washing-machine</ion-select-option>
      'water-heater'
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Wattage(W)</ion-label>
    <ion-input placeholder="10" [(ngModel)]="appliance.wattage" type="number" slot="end" required></ion-input>
  </ion-item>

  <ion-label text-wrap color="danger" position="floating">{{errorMessage}}</ion-label>
  <ion-button expand="block" (click)="addActivity()">Save</ion-button>
  <ion-button expand="block" (click)="closeModal()" color="light">Cancel</ion-button>
</ion-content>
