<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item href="/appliance-details/{{key}}" *ngFor="let key of objectKeys(appliances)" detail=true>
    <ion-card>
      <ion-card-header>
        
        <ion-card-title>
          <img class="item-icon" src="assets/{{appliances[key].icon}}.png">
          {{appliances[key].name}}
        </ion-card-title>
        <!-- <ion-toggle checked="{{appliances[key].status}}" slot="end" (ionChange)="toggleAppliance(key)"></ion-toggle> -->
      </ion-card-header>

      <ion-card-content>
        <ion-progress-bar value="{{powersUsed[key]/totalPower}}"></ion-progress-bar>
        <br>
        <span>Power used: {{powersUsed[key]}} kWh</span>
        <br>
        <span *ngIf="appliances[key].status == true">Status: Running</span>
        <span *ngIf="appliances[key].status == false">Status: Off</span>
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAppliance()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button href="/home">
    <ion-icon name="analytics"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-tab-button>

  <ion-tab-button href="/appliances-list" class="active">
    <ion-icon name="bulb"></ion-icon>
    <ion-label>Appliances</ion-label>
  </ion-tab-button>
  
  <ion-tab-button href="/rate-settings">
    <ion-icon name="flash"></ion-icon>
    <ion-label>Rate</ion-label>
  </ion-tab-button>
</ion-tab-bar>
